<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso de VueJs</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
   <div id="main" class="panel panel-default">
      <div class="panel-body">
         <form action="" @submit.prevent="enviarDatos">
            <div class="form-group">
               <input type="text" v-model="nombre" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
               <input type="text" v-model="edad" placeholder="Edad" class="form-control">
            </div>
            <div class="form-group">
               <input type="text" v-model="sexo" placeholder="Sexo" class="form-control">
            </div>
            <div class="form-group">
               <input type="text" v-model="correoe" placeholder="Correo-e" class="form-control">
            </div>
            <div class="form-group" >
               <button v-if="todaLaInformacion" type="submit" class="btn btn-info pull-right">Enviar</button>
            </div>
         </form>
      </div>
      <pre>
         {{ $data | json }}
      </pre>
      
   </div> 

   
   
    
<script src="js/bootstrap.min.js"> </script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>