<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curso de VueJs</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body class="container" id="app">
    <br><br><br>
   <p>Por favor escribe tu nombre</p>

  <div class="row">
       <div class="col-md-6">
            <form  >
               <div class="form-group">
                <input  type="text" v-model="name" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <select placeholder="Seleccione" v-model="gender" class="form-control">
                        <option selected="selected">Genero</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="form-group">
                    <p>¿Cuántos años de experiencia tienes con PHP?</p>
                    <p>Respuesta:{{years_php}}
                    
                        <button type="button" class="btn" @click="years_php ++">+</button>
                         <button type="button" class="btn" @click="years_php --">-</button>
                    </p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" v-on:click.prevent="signUp" >Aceptar</button>
                </div>
            </form>
         </div>
   </div>
    <hr>
      <h1 v-if="name" id="title"><span v-if="gender == 'M'" >Bienvenido,</span><span v-if="gender == 'F'" >Bienvenida,</span>{{name}} </h1>
    <p>Espero que disfrutes tu visita</p>
    <p>TU nombre al revés es : {{ name.split('').reverse().join('')}}</p>
    <br>
   <pre> {{ $data | json }}</pre>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: "#app",
            data: {
                name: "",
                years_php: 0
                
                
            },
            methods:{
                signUp: function (){
                    alert(this.name + ' Iniciando sesión...');
                    
                },
                menol: function(){
                      
                }
            
            }
        });
    </script>
  
</body>
</html>